<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.madou.text.mapper.TextRecordMapper">

    <resultMap id="BaseResultMap" type="com.madou.text.api.model.entity.TextRecord">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="textTaskId" column="textTaskId" jdbcType="BIGINT"/>
            <result property="textContent" column="textContent" jdbcType="VARCHAR"/>
            <result property="genTextContent" column="genTextContent" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="execMessage" column="execMessage" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,textTaskId,textContent,
        genTextContent,status,execMessage,
        createTime,updateTime,isDelete
    </sql>
</mapper>
